# Node modules
/node_modules

# Build directories
/android/build
/ios/Pods
/ios/build
/ios/.generated

.env
/services

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# React Native packager and Metro
.react
.expo
.vscode
/metro-cache

# Mac system files
.DS_Store

# Android Studio files
.idea/
*.iml
.gradle/

# Temporary files
*.swp
*.swo
